<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :entries %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: entry do %>
  <tr data-id="<%= entry.id %>">
    <%= render "shared/tables/checkbox", object: entry %>
    <td><%= render 'shared/attributes/option', attribute: :entryable_type, url: [:account, entry] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, entry %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, entry], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, entry %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, entry], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(entry)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
